body {
  background-color: rgb(211, 211, 211);
}

.container {
  outline: solid 3px rgb(76, 76, 76);
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 0px;
  text-align: center;
  position: relative;
}

.snakePiece {
  width: 5%;
  height: 5%;
  background-color: rgb(76, 76, 76);
  border: solid 1px white;
  position: absolute;
  z-index: 2;
}

.apple {
  width: 5%;
  height: 5%;
  background-color: white;
  position: absolute;
  padding-top: 8px;
  z-index: 1;
}

.apple-svg {
  transform: scale(2.0);
}
